#title
{
	font-family: 'Bungee Shade', cursive;
	font-size: 60px;
	text-align: center;
	color: ;
	padding-top: 40px;
}

#nav
{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 27px;
	text-align: center;
	word-spacing: 10px;
	padding-top: ;
}

#nav_1
{

}

.hats
{
	width: 30px;
	height: 50px;
	
	
}