header
{
	font-family: 'Bungee Shade', cursive;
	font-size: 35px;
	text-align: center;
	color: ;
	padding-top: 40px;
}

nav
{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 27px;
	text-align: center;
	word-spacing: 10px;
	padding-top: ;
}



hat
{
	width: 30px;
	height: 50px;
	
	
}