#title
{
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
	text-align: center;
	color: ;
	padding-top: 40px;

}

#nav
{
	font-family: 'Hammersmith One', sans-serif;
	font-size:;
	text-align: center;
	word-spacing: 10px;

}

